# Pylint configuration.
#
# .pylintrc guide: https://github.com/PyCQA/pylint/blob/cfc393a8dff9ec09bd2fcb25857e772ae04a4991/examples/pylintrc
#

[MAIN]
extension-pkg-whitelist=
    pydantic, # binary module validation, Pydantic/Pylint recommendation.

ignore=
    LICENSE,
    .pylintrc,

ignore-patterns=
    ^(.+).ini$,
    ^(.+).md$,
    ^(.+).sh$,
    ^(.+).service$,
    ^(.+).json,
    ^(.+).yml,
    ^(.+).yaml,
    ^(.+).toml,
    ^\.,

ignore-paths=
    requirements/.,
    tests/fixtures/vcrpy/.,
    Makefile,

[MESSAGES CONTROL]

disable =
    C0301, 	# line-length too long, see Black documented recommendations.
    C0115,  # No docstring for Class.
